{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% if form.instance.pk %}Update{% else %}Create{% endif %} User</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>{% if form.instance.pk %}Update{% else %}Create{% endif %} User</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="submit">Save</button>
            <a href="{% url 'user_list' %}">Cancel</a>
        </div>
    </form>
</body>
</html>